.Project-component {
  text-align: left;
  background-color: #000;
}

.project-cards-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-card {
  width: 40%;
  padding: 0 1rem;
}

.project-title {
  text-decoration: underline;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: 'Tahoma';  
}

.project-text {
  color: #fff;
}

.project-link {
  color: #fff;
  padding-left: 10px;
}

.project-pic {
  height: 200px;
}

.note {
  font-size: 0.8rem;
}