.Project-component {
  text-align: left;
}

.project-cards-container {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-card {
  width: 40%;
  padding: 0 1rem;
}

.project-title {
  text-decoration: underline;
  font-size: 1.2rem;
}

.project-text {
  color: #fff;
}

.project-link {
  color: #fff;
  padding-left: 10px;
}

.project-pic {
  height: 200px;
}