.Bio-component {
  min-height: 70vh;
  background-color: #000;
  padding: 1rem;
}

.bio-container {
  margin: 0 auto;
  width: 80%;
  padding-top: 1rem;
}

.bio-title {
  font-family: 'Unlock', cursive;  
}

.bio-text {
  margin: 0 auto;
  color: #fff;
  padding-top: 1rem;
}

.bio-paragraphs {
  text-align: left;
}