* {
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 3rem;
  background-color: #000;
}

.App-logo {
  color: #fff;
  font-family: 'Unlock', cursive;
  font-size: 2rem;
}

.links-container {
  background-color: #000;
}

.nav {
  color: #fff;
  margin: 0 0.5rem;
  text-decoration: none;
  
}

.links-container {
  padding: 1rem;
}

.App-body {
  min-height: 75vh;
  background: linear-gradient(
      rgba(1, 23, 5, 0.7), 
      rgba(1, 23, 5, 0.7)), url('../../assets/coding2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.App-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  background-color: #000;
}

.footer-links {
  background-color: #000;
  border: none;
  margin: 0 1rem;
}

.logos {
  width: 25px;
}

.turing {
  width: 30px;
}

.sub-titles {
  text-decoration: underline;
}
