.Resume-component {
  background-color: #000;
  background: linear-gradient(
      rgba(1, 23, 5, 0.7), 
      rgba(1, 23, 5, 0.7)), url('../../assets/coding-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.resume-image {
  width: 70vw;
}